version: '3.4'

services:
  wedding.server:
    environment:
       ASPNETCORE_ENVIRONMENT: Development
       ASPNETCORE_URLS: http://*:5010
    ports:
      - "5010:5010"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
  client:
    ports:
      - "5173:5173"
  # proxy:
  #   volumes:
  #     - "./nginx.conf:/etc/nginx/nginx.conf"
  #   ports:
  #     - "80:80"