#root {
    text-align: center;
}
.css-177gid-MuiTableCell-root {
    font-family: 'Cormorant Infant', sans-serif;
}
tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.h4 {
    font-family: 'Cormorant Infant', sans-serif;
}

body {
    font-family: 'Cormorant Infant', sans-serif;
}

.MuiTable-root {
    font-family: 'Cormorant Infant', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

header {
    width: 100%;
    position: center;
}


.schedule-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.schedule-list-item-time {
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
}

.schedule-list-item-name {
    flex-grow: 1;
    margin-right: 10px;
    text-align: center;
}

.schedule-list-item-dot {
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}
